@font-face {
	font-family: 'Caviar-Dreams';
	src: url('../Project/font/CaviarDreams.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GrandHotel-Regular';
	src: url('../Project/font/GrandHotel-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KaushanScript-Regular';
	src: url('../Project/font/KaushanScript-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body{
	background-color: #D9F0E9;
	padding: 1em 1em 1em;
}
header{
	position: relative;
	font-size: 16px;
	font-family: 'Caviar-Dreams';
	height:165px;
	background-color:#D9F0E9 ;
	position: relative;
	text-align: center;
}

.header p{
	font-size:18px;
	color:#007861;
	font-family: fantasy;
}
h1 { 
	padding-bottom: 5px;
	font-size: 30px;
	color:#586F6F;
}

h2 {
	padding-bottom: 5px;
	font-size: 24px;
	color:#007861;
	font-family: 'KaushanScript-Regular';
}

h4 {
	padding-left: 3%;
	padding-right:3%;
	font-size: 16px;
	color:#537C6D;
	font-family: Monaco;
}

h5 {
	padding-left: 3%;
	padding-right:3%;
	font-size: 14px;
	color:#537C6D;
	font-family: Monaco;
}

p {
	padding-left: 3%;
	padding-right:3%;
	padding-top:5px;
	padding-bottom: 5px;
	font-size: 14px;
	color:#586F6F;
	font-family: Monaco;
}

.about_content .experience li{
	padding-left: 3%;
	padding-right:3%;
	font-size: 14px;
	color:#586F6F;
	font-family: Monaco;
}

nav {
	text-align: center;
	margin-top: 15px;
	font-family: 'Caviar-Dreams';
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #FFCBAA;
	height:45px;
}

nav ul li{
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	padding: 10px;
}

nav ul li a{
	display: block;
	text-align: center;
	color:#6DA398;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
  color: #F7F8F8;
}

.project h4{
	font-size: 26px;
	font-family: 'GrandHotel-Regular';
	color: #2F2E4F;
}

.project .row {
  overflow: auto;
}

.project .row .column {
	margin: 1.5%;
  	float: left;
  	width: calc(90%/2);
  	border: 4px;
  	border-style: dotted;
  	border-color: #B0E4F2;
  	text-align: center;
}

.project-content{
	margin: 1.5%;
  	width: 97%;
  	border: 4px;
  	border-style: solid;
  	border-color: #B0E4F2;
  	text-align: center;
}

.project-content p{
	margin: 50px;
	text-align: center;
	float: center;
	width: 80%;
}

.skill-bar-container {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: whitesmoke;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.skill-bar {
        display: block;
        border-radius: 4px;
        height: 25px;
        background-color: #d7edfa
}

.skills  {
	text-align: left;
	margin-top: 15px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 15px;
}

.level1 { width: 50%; background-color: #3AA69C}
.level2 { width: 70%; background-color: #3AA69C}
.level3 { width: 60%; background-color: #3AA69C}
.level4 { width: 80%; background-color: #3AA69C}
.level5 { width: 85%; background-color: #3AA69C}

.skill-name {
        position: absolute;
        top: 5px;
        left: 10px;
        color: #333; 
        font-weight: 600;
}

.skill-percent {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #999;
}


.introduction{
	text-align: center;
	margin-top: 15px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 15px;
	border: 4px;
	border-style: solid;
	border-color: #B0E4F2;
}

.about_content .intro_basic{
	text-align: left;
	margin-top: 15px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 15px;
	border: 4px;
	border-style: solid;
	border-color: #B0E4F2;
}

.about_content .experience{
	text-align: left;
	margin-top: 15px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 15px;
	border: 4px;
	border-style: solid;
	border-color: #B0E4F2;
}

footer {
  padding: 0;
  text-align: left;
  background-color: #8B937A;
}

.footer h6 {
	color: #EDFC00;
	font-size: 11px;
	font-family: sans-serif;
	padding: 0;
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
 }

input, textarea {
	 font-size: 16px;
     border:0; outline:0;
     padding: 1em;
     border-radius: 8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
}

.footer .row{
	overflow: auto;
	padding: 3px;
}

.footer .row .column{
	float: left;
	padding: 5px;
	width: 25%;
}

.footer .row .column img{
	vertical-align:middle;
}

span{
	color: #EAFFF6;
	font-size: 1em;
	font-family: sans-serif;
	padding: 3px;
}

.contact {
	text-align: center;
}
.right { margin-right: 2%}

.left {
     margin-right: 2%; 
}
